@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Josefin+Sans|Source+Code+Pro:400,700&display=swap');

$family-serif: 'Crimson Text', sans-serif;
$family-sans: 'Josefin Sans', sans-serif;;
$family-monospace: 'Source Code Pro', monospace;
$font-code: $family-monospace;

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 78%);
$grey-dark: hsl(0, 0%, 42%);
$grey-darker: hsl(0, 0%, 29%);
$grey-lighter: hsl(0, 0%, 94%);
$grey-lightest: hsl(0, 0%, 96%);
$grey-superlight: hsl(0, 0%, 98%);
$yellow: hsl(53, 100%, 50%);
$pink: hsl(300, 100%, 50%);
$blue: hsl(205, 84%, 50%);
$cyan: hsl(180, 100%, 35%);
$green: hsl(115, 67%, 38%);
$blue-dark: hsl(205, 53%, 25%);
$green-light: hsl(131, 65%, 58%);
$red: hsl(5, 83%, 50%);
$orange: hsl(41, 79%, 50%);
$greenish: hsl(78, 36%, 53%);

$primary: $grey-darker;
$primary-invert: $grey-superlight;
$primary-light: $grey;
$primary-dark: $black;

$link: $black;
$link-invert: $grey-darker;

$text: $grey-darker;
$background: $grey-superlight;
$border: $grey;
$quotes: $grey-lighter;
$foreground: $grey-dark;
